# Dependencies
/vendor/
/node_modules/

# Composer
composer.lock
composer.phar

# PHPUnit
/.phpunit.cache
/phpunit.xml.bak
.phpunit.result.cache

# Laravel Pint
.pint.cache

# PHPStan
.phpstan.cache/
/phpstan-baseline.neon

# IDE
/.idea/
/.vscode/
*.swp
*.swo
.DS_Store
Thumbs.db

.env
.env.*
!.env.example

/node_modules/
/package-lock.json
/yarn.lock

# Testbench
/testbench.yaml

/.internal/

/workbench/

# Coverage
/coverage/
/coverage.xml
/.nyc_output/
